<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="ProgramName" value="GUPdotNET_Test" />
		<add key="InstallType" value="Win32" />
		<add key="UpdateInfoURL" value="http://brdstudio.net/gupdotnet/GetUpdateInfo.aspx" />
		<add key="CurrentMajorVersion" value="1" />
		<add key="CurrentMinorVersion" value="0" />
		<add key="SilentCheck" value="true" />
		<add key="CallingApplication" value="GUPdotNET_Test" />
 	</appSettings>
</configuration>