<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<appSettings>

    <!-- Mandatory.
	It's the current version of your program. 
	-->
	<add key="Version" value="0.01"/>
	
	<!-- Mandatory.
	This is the url (your web application) from where your GUP gets the update information.
	-->
    <add key="InfoUrl" value="http://www.brdstudio.net/temp/GetUpdateInfo.aspx"/>
   
    <!-- Optional.
	This is the Operating System you are using. If no OS is specified GUPdotNET will assume it is Windows
	-->
    <add key="OSVersion" value="Linux"/>
    
    <!-- Optional.
	This is for the type of update you are using for Linux. e.g. rpm, bin, sh, tgz, etc.
	-->
    <add key="LinuxFileType" value="rpm"/>
   
    <!-- Optional. 
	The window class name of program that you want to update.
	GUP uses FindWindow routine to get the Handle of window, then send WM_CLOSE to the handle in order to quit the program.
	If there are several running instances, GUP will kill one by one until the last instance.
	
	In win32 system, if a program is running, the binary file is locked. 
	Use this parameter to close the program to make sure the old binary files can be erased by new ones.
	-->
    <add key="AppToClose" value="YahtzeeSharp"/>
    
    <!-- Optional.
	This is the title to display on the messagebox title bar.
	-->
    <add key="MessageBoxTitle" value="YahtzeeSharp Update"/>

	<!-- Optional. YES by default.
	This parameter can hide all the network error message. 
	If "SilentMode" is set as "yes", then users won't be warned when there's no connection of internet or the url is not available. 
	-->
    <add key="SilentMode" value="no"/>

	<!-- Simple Program Name -->
    <add key="ProgramName" value="YahtzeeSharp"/>
    
	</appSettings>
</configuration>
