<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<!-- BEGIN GUPdotNET AREA -->
		<!-- the name of the program as recognized by it's process -->
		<add key="ProgramName" value="YahtzeeSharp"/>
		<!-- The Generic Name/Title of the calling program -->
		<add key="ProgramTitle" value="Yahtzee Sharp" />
		
		<!-- 
			The Operating System We Are Updating 
			Expected Values = Windows, Linux, Mac
		-->
		<add key="OS" value="Windows" />
		<!-- 
			The type of install that is needed for this installation 
			Expected Values = Installer, RPM, DEB, BIN, TGZ, SRC
		-->
		<add key="InstallType" value="Installer" />
		
		<!-- The URL of the web site that contains the update information -->
		<add key="UpdateInfoURL" value="http://brdstudio.net/gupdotnet/GetUpdateInfo.asp" />
		
		<!-- Logging Enable -->
		<add key="SaveUpdateLog" value="true" />
		<add key="SaveErrorLog" value="true" />		
		<!-- END GUPdotNET AREA -->		
 	</appSettings>
</configuration>
