body {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	background-color: rgb(111,255,5);
}

.MenuContainer
{
	font-weight:bold;
	background-color: #0b5075;
	color:#ffffff;
}

.MenuContainer a
{
	color: #ffffff;
}
