<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Don't show any update elements -->
    	<!-- Useful for Linux packagers who need control over updates -->
        <add key="ShowUpdate" value="false" />
    	<!-- Used for debugging -->
		<add key="Debug" value="true"/>
    	<!-- Used for using theme outside of the user preferences -->
		<!-- primarily for Windows use -->
		<add key="AllowCustomThemes" value="false"/>
		<!-- the file formate to save the options, metainfo, etc -->
		<!-- Excpected file types are xml, dat (binary Hashtable), text (Name=Value) -->
		<add key="UserFileFormat" value="xml"/>
    </appSettings>
</configuration>