<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLiteMonoPlusUI.UserConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SQLiteMonoPlusUI.Common.UserConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SQLiteMonoPlusUI.UserConfig>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserErrorLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DBLocation" serializeAs="String">
                <value />
            </setting>
        </SQLiteMonoPlusUI.UserConfig>
        <SQLiteMonoPlusUI.Common.UserConfig>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
        </SQLiteMonoPlusUI.Common.UserConfig>
    </userSettings>
</configuration>