//---------------------------------------------------------------------------
//
// Name:        wxBPMonitorApp.rc
// Author:      ayork
// Created:     7/8/2009 4:01:45 PM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
