<?xml version="1.0" encoding="utf-8"?>
<configuration><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
	<appSettings>
		
		<!-- For Debugging -->
		<add key="Debug" value="true" />
		<!-- 
			Used to override the version information 
			Can be used for testing or if static numbers are prefered
			to the version info gotten from the calling assembly
 		-->
		<add key="MajorVersion" value="0" />
		<add key="MinorVersion" value="1" />		
		<!-- 
			Used to override the calling assembly path information 
			Can be used for testing when there is no calling assembly
 		-->
		<add key="ProgramFullPath" value="C:\Documents and Settings\ayork\My Documents\SharpDevelop Projects\MonoBPMonitor\src\MonoBPMonitor\bin\Debug\MonoBPMonitor.exe" />
		
		<!-- BEGIN GUPdotNET AREA -->
		<!-- the name of the program as recognized by it's process -->
		<add key="ProgramName" value="MonoBPMonitor" />
		<!-- The Generic Name/Title of the calling program -->
		<add key="ProgramTitle" value="Mono Blood Pressure Monitor" />
		
		<!-- 
			The Operating System We Are Updating 
			Expected Values = Windows, Linux, Mac
		-->
		<add key="OS" value="Windows" />
		<!-- 
			The type of install that is needed for this installation 
			Expected Values = Installer, RPM, DEB, BIN, TGZ, SRC
		-->
		<add key="InstallType" value="Installer" />
		
		<!-- The URL of the web site that contains the update information -->
		<add key="UpdateInfoURL" value="http://brdstudio.net/MBPMonitor/GetUpdateInfo.asp" />
		
		<!-- Logging Enable -->
		<add key="SaveUpdateLog" value="true" />
		<add key="SaveErrorLog" value="true" />		
		<!-- END GUPdotNET AREA -->		
 	</appSettings>
</configuration>
