//---------------------------------------------------------------------------
//
// Name:        wxGUPApp.rc
// Author:      Andrew York
// Created:     5/26/2008 11:12:49 AM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
