<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GUPdotNET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <GUPdotNET.Properties.Settings>
      <setting name="DebugMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdatePackageURL" serializeAs="String">
        <value />
      </setting>
      <setting name="InstallerType" serializeAs="String">
        <value>exe</value>
      </setting>
      <setting name="ProcessorType" serializeAs="String">
        <value>Any</value>
      </setting>
      <setting name="ProjectWebSite" serializeAs="String">
        <value>https://code.google.com/p/goontools/</value>
      </setting>
      <setting name="UseErrorLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseUpdateLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingsFileVersion" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="UpdateProgramTitle" serializeAs="String">
        <value />
      </setting>
    </GUPdotNET.Properties.Settings>
  </applicationSettings>
</configuration>
