root {
    display: block;
}

form {
    display: inline;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: black;
    background-color: #fffee7;
    display: block;
    height: 100%;
}

.LoginTable {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    display: block;
}

#browserSupportContainer {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
}

.PadAll5px {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.PadSides5px {
    padding-right: 5px;
    padding-left: 5px;
}

.PadSides5px {
    padding-right: 5px;
    padding-left: 5px;
}

#documentSection {
    width: 1200px;
    min-height: 100%;
    height: 100%;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    background-color: white;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

#headerSection {
    padding: 5px 0px 0px 0px;
    display: block;
    height: 65px;
    border-bottom-style: double;
    border-bottom-width: 4px;
    border-bottom-color: #000000;
    position: relative;
    background-color: #405CBF;
    color: #FFFF00;
}

#headerLeft {
    float: left;
    width: 450px;
    height: 100%;
    position: relative;
}

#headerLogoText {
    padding: 0px 22px 0px 0px;
    margin: 0px;
    font-family: 'Finger Paint' , cursive;
    font-size: 36px;
    font-weight: bold;
    font-variant: small-caps;
    bottom: -20px;
    position: relative;
    vertical-align: baseline;
    text-align: right;text-shadow: 2px 1px 2px #c9c9c9;
}

#headerMenu {
    height: 20px;
    bottom: -14px;
    position: relative;
}

#rightHeader {
    float: none;
    width: auto;
    height: 100%;
    position: relative;
}
