root {
    display: block;
}

form {
    display: inline;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: black;
    background-color: #fffee7;
    display: block;
    height: 100%;
}

.LoginTable {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    display: block;
}

#browserSupportContainer {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
}

.PadAll5px {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.PadSides5px {
    padding-right: 5px;
    padding-left: 5px;
}

.PadSides5px {
    padding-right: 5px;
    padding-left: 5px;
}


#documentSection {
    width: 1200px;
    min-height: 100%;
    height: 100%;
    
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    background-color: white;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#headerLogoText {
    font-family: 'Finger Paint', cursive;
    font-size: 24pt;
    font-weight: bold;
    font-variant: small-caps;
}
