//---------------------------------------------------------------------------
//
// Name:        MonoCheckApp.rc
// Author:      Andrew York
// Created:     1/12/2008 2:08:22 PM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
