.HelpMe {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: capitalize;
	color: #FF0000;
	text-decoration: none;
	background-color: #003366;

}
.header {
	font-family: "Courier New", Courier, mono;
	font-size: 14pt;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
	color: #FFFFFF;
	background-color: #006666;
	background-position: center center;
	border: 1px solid #000000;


}
.BorderAround {
	border: 1px double #000000;
}
