<?xml version="1.0"?>

<configuration>

	<appSettings>
		<add key="ConnString" value="data source=&quot;e:\web\bigreddogs1\htdocs\BookmarkSharp\App_Data\BookmarkSharp.s3db&quot;" />
		<!-- Begin Enviroment Variables -->
		<add key="RunEnv" value="DEV" />
		<add key="LoggingType" value="File" />		
		<add key="LoggingFileLoc" value="C:\Documents and Settings\Andrew York\My Documents\SharpDevelop Projects\BookmarkSharp\BookmarkSharpWebService\Logs\" />
		<!-- End Enviroment Variables -->
	</appSettings>
    <connectionStrings>
        <add name="ConnectionString" connectionString="data source=&quot;e:\web\bigreddogs1\htdocs\BookmarkSharp\App_Data\BookmarkSharp.s3db&quot;"
            providerName="System.Data.SQLite" />
    </connectionStrings>
  
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->  <!--
        <authentication mode="Windows" />
      
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<identity impersonate="true"/>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>

	</system.web>
</configuration>
