 
body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.InputTable
{
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
}

.InputTable th
{
	text-align: center;
	background-color: #284473;
	color: #ffffff;
	padding-bottom: 5px;
}

.SearchTable
{
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
	background-color: #efefef;
	border: 2px solid #dddddd;
}

.SearchTable th
{
	text-align: center;
	background-color: #284473;
	color: #ffffff;
	padding-top: 5px;
	padding-bottom: 5px;
	white-space: nowrap;
}

/*
 ##########################################################
 BEGIN GENERIC PADDING
 */
.PaddingLeftRight3px
{
	padding-left: 3px;
	padding-right: 3px;
}

.PaddingLeftRight5px
{
	padding-left: 5px;
	padding-right: 5px;
}

.PaddingLeftRight8px
{
	padding-left: 8px;
	padding-right: 8px;
}

.PaddingTopBottom3px
{
	padding-top: 3px;
	padding-bottom: 3px;
}

.PaddingTopBottom5px
{
	padding-top: 5px;
	padding-bottom: 5px;
}

.PaddingTopBottom8px
{
	padding-top: 8px;
	padding-bottom: 8px;
}

/*
 END GENERIC PADDING
 ##########################################################
 */
/*
 ##########################################################
 BEGIN GENERIC MARGIN
 */
.MarginLeftRight3px
{
	margin-left: 3px;
	margin-right: 3px;
}

.MarginLeftRight5px
{
	margin-left: 5px;
	margin-right: 5px;
}

.MarginTopBottom3px
{
	margin-top: 3px;
	margin-bottom: 3px;
}

.MarginTopBottom5px
{
	margin-top: 5px;
	margin-bottom: 5px;
}

/*
 END GENERIC MARGIN
 ##########################################################
 */
/*
 ##########################################################
 BEGIN GENERIC BORDERS
 */
.TableBorder
{
	border-right: #a9a9a9 1px solid;
	border-top: black 2px double;
	border-left: black 1px double;
	border-bottom: #a9a9a9 2px solid;
}

.TableBorder td, th
{
	border: 1px solid #000000;
}

.BorderAroundBlack1px
{
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
}

.NoBorder
{
	border-style: none;
	border-width: 0px;
}

/*
 END GENERIC BORDERS
 ##########################################################
 */
/*
 ##########################################################
 BEGIN GENERIC HELPER STYLES
 */
.NoWrap
{
	white-space: nowrap;
}

.DisplayInline
{
	display: inline;
}

.JustPointer
{
	cursor: pointer;
	cursor: hand;
}

/*
 END GENERIC HELPER STYLES
 ##########################################################
 */