<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="MonoBPMonitor" Language="1033" Version="0.1.0" UpgradeCode="9DF2FE52-8C8B-4D95-BD0B-92A8784E15A0" Manufacturer="GoonTools">
		<Package Description="Simple .NET Blood Pressure Monitor written in Mono/Gtk# using SQLite for data storage." Comments="Provides MonoBPMonitor Installer" InstallerVersion="200" Compressed="yes" />
		<!--
			Source media for the installation. 
 			Specifies a single cab file to be embedded in the installer's .msi. 
		-->
		<Media Id="1" Cabinet="MonoBPMonitor.cab" EmbedCab="yes" CompressionLevel="high" />
		<Condition Message="This setup requires the .NET Framework 2.0 or higher.">
<![CDATA[MsiNetAssemblySupport >= "2.0"]]>
</Condition>
		<!-- Install Start Menu shortcut for all users -->
		<Property Id="ALLUSERS">
<![CDATA[2]]>
</Property>
		<!-- Installation directory and files are defined in Files.wxs -->
		<Directory Id="TARGETDIR" Name="SourceDir" />
		<Feature Id="Complete" Title="Mono Blood Pressure Monitor" Description="Simple .NET Blood Pressure Monitor written in Mono/Gtk# using SQLite for data storage." Level="1" ConfigurableDirectory="INSTALLDIR">
			<ComponentRef Id="MyComponent" />
		</Feature>
		<!-- 
			Using the Wix UI library
 
			WixUI_Mondo includes the full set of dialogs:
 			
			welcome
			license agreement
			setup type (typical, custom, and complete)
			feature customization
			directory browse
			disk cost. 

			Maintenance-mode dialogs are also included. 

			Use WixUI_Mondo when you have some of your product's features 
			are not installed by default and there is a meaningful 
			difference between typical and complete installs
		-->
		<UIRef Id="WixUI_Mondo" />
	</Product>
</Wix>