<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MonoBPMonitor.Properties.Settings.BPMonitorConnectionString"
            connectionString="data source=&quot;C:\Documents and Settings\ayork\My Documents\SharpDevelop Projects\MonoBPMonitor\src\MonoBPMonitor\data\BPMonitor.s3db&quot;"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>