<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Common URL Locations -->
		<add key="ProjectSiteURL" value="http://code.google.com/p/goontools/wiki/MonoBPMonitor"/>
		<add key="ProjectIssuesURL" value="http://code.google.com/p/goontools/issues/entry?template=Defect%20report%20from%20user"/>
		<add key="OnlineHelpURL" value="http://code.google.com/p/goontools/wiki/MonoBPMonitor"/>
		<!-- Don't show any update elements -->
    	<!-- Useful for Linux packagers who need control over updates -->
        <add key="ShowUpdate" value="false" />
		<!-- For Windows where there is not Gtk Theme installed -->
    	<!-- Allows the setting of custome themes in Windows enviroments -->
    	<!-- Not Intended for use with Linux -->
        <add key="AllowCustomTheme" value="true" />
    	<!-- Used for debugging -->
		<add key="Debug" value="true"/>
    </appSettings>
</configuration>